{% load static %}

<link rel="stylesheet" href="{% static 'Dashboard/style.css' %}">

<div id="pageHolderDiv">
  
  <div id="headerOuter">
    <div id="headerIconHome">
      <h3><a href="">Iris Data Display</a></h3>
    </div>
    <div id="headerMenu">
      <ul>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
    <div id="headerPadding">
      <button type="submit">Logout</button>
    </div>
  </div>

  <div id="pageContentDiv">

    <div id="sideMenuOuter">
      <div id="sideMenuWrap">
        <ul>
          <li><a href="/Dashboard/Observations">Observations</a></li>
          <li><a href="/Dashboard/Species">Species</a></li>
        </ul>
      </div>
    </div>

    <div id = "greaterOuter">
      <div id= "quarterOneGrid">
        <div id = "observationOuter">
          <div id = "observationTableWrap">
            <table>
              <thead>
                <tr>
                  <th>Sepal Length</th>
                  <th>Sepal Width</th>
                  <th>Petal Length</th>
                  <th>Petal Width</th>
                </tr>
              </thead>
                    
                {% for observation in observation_list %}
                    <tr>
                        <td>{{ observation.sepal_length }}</td>
                        <td>{{ observation.sepal_width }}</td>
                        <td>{{ observation.petal_length }}</td>
                        <td>{{ observation.petal_width }}</td>
                    </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No observations yet.</td>
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div id="quarterTwoGrid">
        <div id="graphTable1">
          {% if not graph_data_list1 %}
            <h3>No Graph To Display!</h3>
          {% endif %}
          {% for graph_data in graph_data_list %}
          <div>
            {{ graph_data|safe }}
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="quarterThreeGrid">
        <div id="graphTable2">
          {% if not graph_data_list2 %}
            <h3>No Graph To Display!</h3>
          {% endif %}
          {% for graph_data in graph_data_list2 %}
          <div>
            {{ graph_data|safe }}
          </div>
          {% endfor %}
        </div>
      </div>
        
      <div id="quarterFourGrid">
        <div id="graphTable3">
          {% if not graph_data_list3 %}
            <h3>No Graph To Display!</h3>
          {% endif %}
          {% for graph_data in graph_data_list3 %}
          <div>
            {{ graph_data|safe }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>